<a href="https://colab.research.google.com/github/Lexie1227/assignment/blob/main/5002assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#use ticker to get page
company_ticker = input("What is your Company's Stock Market Ticker Symbol? ")
url = "https://au.finance.yahoo.com/quote/{}/profile?p={}".format(company_ticker,company_ticker)
print(url)

What is your Company's Stock Market Ticker Symbol? FB
https://au.finance.yahoo.com/quote/FB/profile?p=FB

In [ ]:
def build_url():
  # User input ticker symbol
  ticker_symbol = input("Please input ticker symbol ")
  
  # print(ticker_symbol)
  example_url = 'https://au.finance.yahoo.com/quote/{}/profile?p={}'
  result = example_url.format(ticker_symbol, ticker_symbol)
  return result

In [ ]:
# Usually run of Google Coolab, so install unique packages
!pip install kora -q

#load packages
from bs4 import BeautifulSoup
from kora.selenium import wd
import pandas as pd

     |████████████████████████████████| 57 kB 3.2 MB/s
     |████████████████████████████████| 56 kB 4.1 MB/s

In [ ]:
def get_first_3_cells(row):
  cells = row.find_all('td')
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  return {'name': name, 'title': title, 'pay': pay}

In [ ]:
def get_exec_records(soup): 
  table = soup.find('table')
  body =table.find('tbody')
  rows = body.find_all('tr')
  
  exec_records = []
  for row in rows:
    result = get_first_3_cells(row)
    exec_records.append(result)
  return exec_records

In [ ]:
def calculate_tax(income):
  if income <= 18200:
    tax_payable = 0
  elif 18200 < income <= 45000:
    tax_payable = 0.19 * (income - 18200)
  elif 45000 < income < 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120001 < income < 180000:
    tax_payable = 29467 + 0.37 * (income - 120000)
  elif income > 180000:
    tax_payable = 51667 + 0.45 * (income - 180000)


  return tax_payable

In [ ]:
def get_salary (rec):
  pay = rec['pay']
  last_char = pay[-1]
  num_part = pay[0:-1]

  if last_char == 'M':
    salary = float(num_part) * 1000000
    #print("Millions")
  elif last_char == 'k':
    salary = float(num_part) * 1000
    #print("Thousand")
  else:
    salary = 0
    #print("Not sure")

  return salary

In [ ]:
#get url
url = build_url()
wd.get(url)
soup = BeautifulSoup(wd.page_source,"html.parser")
records = get_exec_records(soup)

for record in records:
  result = get_salary(record)
  income_tax = calculate_tax(result)
  record['tax'] = income_tax

#create a panda datafarme

execs_df = pd.DataFrame.from_records(records)
execs_df

Please input ticker symbol FB

                               name  ...         tax
0        Mr. Mark Elliot Zuckerberg  ...  11351167.0
1               Mr. David M. Wehner  ...    767167.0
2          Ms. Sheryl Kara Sandberg  ...   4641667.0
3         Mr. Michael T. Schroepfer  ...    726667.0
4            Mr. Christopher K. Cox  ...    915667.0
5  Ms. Susan Jannifer Simone Taylor  ...         0.0
6               Mr. Atish  Banerjea  ...         0.0
7           Ms. Deborah T. Crawford  ...         0.0
8          Ms. Jennifer G. Newstead  ...         0.0
9             Mr. Henry T. A. Moniz  ...         0.0

[10 rows x 4 columns]